:root {
    --primary-color: #79b3ad !important;
    --border-color: #344b64!important;
}

.bg-black {
    background-color: black;
}

.h-80-vh {
    height: 80vh;
}

.h-100vh {
    height: 100vh;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.border-primary {
    border-color: var(--border-color) !important;
}

.App {
    background-color: aquamarine;
    display: flex;
}

.artical {
    background-color: #f0f0f0;
    color: #222;
    height: 120px;
}

.flex {
    display: flex;
}

div {
    text-align: center;
}

label {
    margin-right: 10px;
}

h4 {
    color: rgb(184, 83, 96);
}